

h1 {
	background-color: brown;
	font-size: 15px;
	position: relative;
	left: -40px;
	width: 120%;
	font-family: 'Courier New';
}


#main-header {
	position: relative;
    left: -30px;
	width: 120%;
}

#subheader {
	background: lightblue; font-size: 15px;
	padding-bottom: 2px;
	padding-top: 0px;
	padding-left: 0px;
	font-style: oblique;
	position: relative;
    left: -30px;}

.requirements, #instructions {
	font-size: 10px;
	font-style: italic;}



ul {padding: 5px;
background: light-brown;
left: 0px;
font-family: 'Alegreya Sans';}

li {text-align: left; position: relative;
font-size: 10px;
padding-top: 5px}