

h1 {
	background-color: beige;
	font-size: 25px;
	position: relative;
	left: -40px;
	padding-left: 40px;
	width: 120%;
	font-family: 'Courier New';
}

#subheader {
	background: lightblue; 
	font-size: 20px;
	font-family: monospace;
	padding-bottom: 2px;
	padding-top: 5px;
	padding-left: 30px;
	font-style: oblique;
	position: relative;
    left: -10px;}

links {
	position: relative;
    left: 0px;
	font-size: 8px;
}

#instructions {
	font-size: 12px;
	font-style: italic;
	padding-bottom: 20px}



ul {padding: 5px;
background: light-brown;
left: 0px;
font-family: 'Alegreya Sans';}

li {text-align: left; 
	position: relative;
	font-size: 15px;
	padding-top: 5px;
	font-family: monospace;}